<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component" label="COM_ACCOMMODATION_MANAGER_CONFIGURATION">
        <field
            name="save_history"
            type="radio"
            default="0"
            label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
            description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="history_limit"
            type="text"
            filter="integer"
            label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
            description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
            default="5"
        />

        <field
            name="sef_ids"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            default="0"
            label="JGLOBAL_SEF_NOIDS_LABEL"
            description="JGLOBAL_SEF_NOIDS_DESC"
            filter="integer"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="languages" label="COM_ACCOMMODATION_MANAGER_CONFIG_LANGUAGES">
        <field
            name="lang_de"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_DE"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_it"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_IT"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_en"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_EN"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_fr"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_FR"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_es"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_ES"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="request_links" label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINKS">
        <field
            name="request_link_de"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DE"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_it"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_IT"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_en"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_EN"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_fr"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_FR"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_es"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_ES"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
    </fieldset>

    <fieldset name="booking_links" label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINKS">
        <field
            name="booking_link_de"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DE"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_it"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_IT"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_en"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_EN"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_fr"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_FR"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_es"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_ES"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field
            name="rules"
            type="rules"
            component="com_accommodation_manager"
            class="inputbox"
            filter="rules"
            validate="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            section="component"
        />
    </fieldset>
</config>
