<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component" label="COM_ACCOMMODATION_MANAGER_CONFIGURATION">
        <field
            name="save_history"
            type="radio"
            default="0"
            label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
            description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="history_limit"
            type="text"
            filter="integer"
            label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
            description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
            default="5"
        />

        <field
            name="sef_ids"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            default="0"
            label="JGLOBAL_SEF_NOIDS_LABEL"
            description="JGLOBAL_SEF_NOIDS_DESC"
            filter="integer"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="spacer_languages_hr"
            type="spacer"
            hr="true"
        />
        <field
            name="spacer_languages"
            type="spacer"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANGUAGES"
        />

        <field
            name="lang_de"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_DE"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_it"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_IT"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_en"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_EN"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_fr"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_FR"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="lang_es"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_LANG_ES"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="view_categories" label="COM_ACCOMMODATION_MANAGER_CONFIG_VIEW_CATEGORIES">
        <field
            name="categories_show_image"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_IMAGE"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="categories_show_description"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_DESCRIPTION"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="categories_show_link_button"
            type="radio"
            default="0"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_LINK_BUTTON"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_LINK_BUTTON_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field
            name="spacer_categories_slider"
            type="spacer"
            hr="true"
        />
        <field
            name="spacer_categories_slider_label"
            type="spacer"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDER_SETTINGS"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDER_SETTINGS_DESC"
        />

        <field
            name="categories_slides_per_view_mobile"
            type="text"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDES_PER_VIEW_MOBILE"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDES_PER_VIEW_DESC"
            default="1"
        />
        <field
            name="categories_slides_per_view_desktop"
            type="text"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDES_PER_VIEW_DESKTOP"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDES_PER_VIEW_DESC"
            default="1"
        />
        <field
            name="categories_space_between_mobile"
            type="text"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SPACE_BETWEEN_MOBILE"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SPACE_BETWEEN_DESC"
            default="10"
        />
        <field
            name="categories_space_between_desktop"
            type="text"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SPACE_BETWEEN_DESKTOP"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SPACE_BETWEEN_DESC"
            default="30"
        />
        <field
            name="categories_swiper_autoplay"
            type="radio"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_AUTOPLAY"
            layout="joomla.form.field.radio.switcher"
            default="0"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="categories_swiper_autoplay_delay"
            type="text"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_AUTOPLAY_DELAY"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_AUTOPLAY_DELAY_DESC"
            default="5000"
            showon="categories_swiper_autoplay:1"
        />
        <field
            name="categories_swiper_navigation"
            type="radio"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_NAVIGATION"
            layout="joomla.form.field.radio.switcher"
            default="1"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="categories_swiper_pagination"
            type="radio"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_PAGINATION"
            layout="joomla.form.field.radio.switcher"
            default="1"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="categories_swiper_load_css"
            type="radio"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_LOAD_CSS"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_LOAD_CSS_DESC"
            layout="joomla.form.field.radio.switcher"
            default="1"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="categories_swiper_load_js"
            type="radio"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_LOAD_JS"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SWIPER_LOAD_JS_DESC"
            layout="joomla.form.field.radio.switcher"
            default="1"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="note_slider_css_vars"
            type="note"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDER_CSS_VARS"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDER_CSS_VARS_DESC"
            class="alert alert-info"
        />
        <field
            name="note_slider_js_event"
            type="note"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDER_JS_EVENT"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SLIDER_JS_EVENT_DESC"
            class="alert alert-info"
        />
    </fieldset>

    <fieldset name="view_rooms" label="COM_ACCOMMODATION_MANAGER_CONFIG_VIEW_ROOMS">
        <field
            name="rooms_show_surface"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_SURFACE"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_people"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_PEOPLE"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_price_from"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_PRICE_FROM"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_intro"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_INTRO"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_description"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_DESCRIPTION"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_floor_plan"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_FLOOR_PLAN"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_gallery"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_GALLERY"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_video"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_VIDEO"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="spacer_rooms_layout"
            type="spacer"
            hr="true"
        />

        <field
            name="rooms_split_by_category"
            type="radio"
            default="0"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SPLIT_BY_CATEGORY"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SPLIT_BY_CATEGORY_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="rooms_enable_swiper"
            type="radio"
            default="0"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_ENABLE_SWIPER"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_ENABLE_SWIPER_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="spacer_rooms_actions"
            type="spacer"
            hr="true"
        />

        <field
            name="rooms_show_request_button"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_REQUEST_BUTTON"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_REQUEST_BUTTON_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="rooms_show_booking_button"
            type="radio"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_BOOKING_BUTTON"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SHOW_BOOKING_BUTTON_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
    </fieldset>

    <fieldset name="view_rates" label="COM_ACCOMMODATION_MANAGER_CONFIG_VIEW_RATES">
        <field
            name="rates_hide_past_periods"
            type="radio"
            default="0"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_HIDE_PAST_PERIODS"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_HIDE_PAST_PERIODS_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="rates_split_by_season"
            type="radio"
            default="0"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SPLIT_BY_SEASON"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_SPLIT_BY_SEASON_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="rates_summer_start_day"
            type="list"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SUMMER_START_DAY"
            showon="rates_split_by_season:1"
            >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </field>
        <field
            name="rates_summer_start_month"
            type="list"
            default="5"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_SUMMER_START_MONTH"
            showon="rates_split_by_season:1"
            >
            <option value="1">JANUARY</option>
            <option value="2">FEBRUARY</option>
            <option value="3">MARCH</option>
            <option value="4">APRIL</option>
            <option value="5">MAY</option>
            <option value="6">JUNE</option>
            <option value="7">JULY</option>
            <option value="8">AUGUST</option>
            <option value="9">SEPTEMBER</option>
            <option value="10">OCTOBER</option>
            <option value="11">NOVEMBER</option>
            <option value="12">DECEMBER</option>
        </field>
        <field
            name="rates_winter_start_day"
            type="list"
            default="1"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_WINTER_START_DAY"
            showon="rates_split_by_season:1"
            >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </field>
        <field
            name="rates_winter_start_month"
            type="list"
            default="11"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_WINTER_START_MONTH"
            showon="rates_split_by_season:1"
            >
            <option value="1">JANUARY</option>
            <option value="2">FEBRUARY</option>
            <option value="3">MARCH</option>
            <option value="4">APRIL</option>
            <option value="5">MAY</option>
            <option value="6">JUNE</option>
            <option value="7">JULY</option>
            <option value="8">AUGUST</option>
            <option value="9">SEPTEMBER</option>
            <option value="10">OCTOBER</option>
            <option value="11">NOVEMBER</option>
            <option value="12">DECEMBER</option>
        </field>
    </fieldset>

    <fieldset name="request_links" label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINKS">
        <field
            name="request_link_de"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DE"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_it"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_IT"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_en"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_EN"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_fr"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_FR"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
        <field
            name="request_link_es"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_ES"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_REQUEST_LINK_DESC"
            filter="url"
        />
    </fieldset>

    <fieldset name="booking_links" label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINKS">
        <field
            name="booking_link_de"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DE"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_it"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_IT"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_en"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_EN"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_fr"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_FR"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
        <field
            name="booking_link_es"
            type="url"
            label="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_ES"
            description="COM_ACCOMMODATION_MANAGER_CONFIG_BOOKING_LINK_DESC"
            filter="url"
        />
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field
            name="rules"
            type="rules"
            component="com_accommodation_manager"
            class="inputbox"
            filter="rules"
            validate="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            section="component"
        />
    </fieldset>
</config>
